{% extends '::base.html.twig' %}

{% block body %}
    <p>Il y a au total : {{ courses|length }} cours.</p>
    <div class="row">
        <div class="col-md-6">
            <h2>Cours en attente</h2>
            {% set classe = '' %}
            {% for course in courses %}
                    {% if classe != course.classe %}
                        {% set classe = course.classe %}
                        <h2>{{ classe }}</h2>
                    {% endif %}
                    {% if course.valid == 0 and course.prof == null %}
                        <a href="{{ path('zephyr_cours_show', {id:course.id}) }}" data-id="{{ course.id }}">
                            Cours n°{{course.id}} : {{course.unit}} le {{ course.date|date("d/m/Y à h:i") }} - SANS PROF
                        </a>
                    {% elseif course.valid == 0 and course.prof != null %}
                        <a href="{{ path('zephyr_cours_show', {id:course.id}) }}" data-id="{{ course.id }}">
                            Cours n°{{course.id}} : {{course.unit}} le {{ course.date|date("d/m/Y à h:i") }} - PROF : {{course.prof}} 
                        </a>
                    {% endif %}
                <br>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h2>Cours validés</h2>
            {% set classe = '' %}
            {% for course in courses %}
                {% if classe != course.classe %}
                    {% set classe = course.classe %}
                    <h2>{{ classe }}</h2>
                {% endif %}
                {% if course.valid == 1 and course.prof == null %}
                    <a href="{{ path('zephyr_cours_show', {id:course.id}) }}" data-id="{{ course.id }}">
                        Cours n°{{course.id}} : {{course.unit}} le {{ course.date|date("d/m/Y à h:i") }} - SANS PROF
                    </a>
                {% elseif course.valid == 1 and course.prof != null %}
                    <a href="{{ path('zephyr_cours_show', {id:course.id}) }}" data-id="{{ course.id }}">
                        Cours n°{{course.id}} : {{course.unit}} le {{ course.date|date("d/m/Y à h:i") }} - PROF : {{course.prof}} 
                    </a>
                {% endif %}
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}