{% extends '::base.html.twig' %}

{% block body %}
    <h1>Un cours d'une heure pour 1 euro</h1>
    <br>
    <div class="row">
        <!--step 1 status -->
        <div class="jumbotron col-md-6 home1">
            <div>
                <h3>Nous recherchons un prof pour :</h3><br><br>
                <p>
                {% for course in courses %}
                    {% if course.prof == NULL %}
                        {{ course.unit }} le {{ course.date|date("d/m/Y à h:i") }} <a class="btn btn-sm btn-primary back" href="#" role="button">Prendre</a>
                        {% if not loop.last %}
                            <br><br>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
        <div class="jumbotron col-md-6 home1">
            <div>
                <h3>Il manque des élèves pour :</h3><br><br> 
                <p>
                {% for course in courses %}
                    {% if course.prof != NULL %}
                        {{ course.unit }} le {{ course.date|date("d/m/Y à h:i") }} avec {{ course.prof }} <a class="btn btn-sm btn-primary back" href="#" role="button">Rejoindre</a>
                    {% else %}
                        {{ course.unit }} le {{ course.date|date("d/m/Y à h:i") }} <a class="btn btn-sm btn-primary back" href="#" role="button">Rejoindre</a>
                    {% endif %}
                    {% if not loop.last %}
                        <br><br>     
                    {% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}