{% extends '::base.html.twig' %}

{% block body %}
    <h1>Liste des cours disponibles</h1>
    <br>
    <div class="row">
        <!--step 1 status -->
        <div class="col-md-6">
            <h3>Nous recherchons un prof :</h3><br><br>
            {% set subject2 = '' %}
            {% for course in courses %}
                {% if subject2 != course.subject %}
                    {% set subject2 = course.subject %}
                    <h2>{{ subject2 }}</h2>
                {% endif %}
                {% if course.valid == 0 and course.prof == NULL %}
                    <a href="{{ path('zephyr_cours_addprof', {id:course.id}) }}" data-id="{{ course.id }}">
                        Cours n°{{course.id}} : {{course.unit}} le {{ course.date|date("d/m/Y à h:i") }} - SANS PROF
                    </a>
                {% endif %}
                <br>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h3>Il manque des élèves :</h3><br><br> 
            {% set subject = '' %}
            {% for course in courses %}
                {% if subject != course.subject %}
                    {% set subject = course.subject %}
                    <h2>{{ subject }}</h2>
                {% endif %}
                {% if course.valid == 0 and course.prof != NULL %}
                    <a href="{{ path('zephyr_cours_addstudent', {id:course.id}) }}" data-id="{{ course.id }}">
                        Cours n°{{course.id}} : {{course.unit}} le {{ course.date|date("d/m/Y à h:i") }} - PROF : {{course.prof}} 
                    </a>
                {% elseif course.valid == 0 and course.prof == NULL %}
                    <a href="{{ path('zephyr_cours_addstudent', {id:course.id}) }}" data-id="{{ course.id }}">
                        Cours n°{{course.id}} : {{course.unit}} le {{ course.date|date("d/m/Y à h:i") }} - SANS PROF
                    </a>
                {% endif %}
                <br>
            {% endfor %}
        </div>
        <div class="col-md-12">
            <br><br>
            <h3>Vous n'avez pas trouvé votre bonheur ?</h3><br>
            <a class="btn btn-lg btn-danger" href="{{ path('zephyr_cours_homepage') }}" role="button">Demander un cours</a><br><br><br>
        </div>
    </div>
{% endblock %}