{% extends '::base.bis.html.twig' %}

{% block body %}
    <h1>Un cours d'une heure pour 1 euro</h1>
    <br>
    <div class="row">
        <div class="jumbotron col-md-12">
            <div>
                <a class="btn btn-lg btn-primary" href="{{ path('zephyr_cours_homepage') }}" role="button">Retour</a></br></br></br>
                <h3 id="name">Qui êtes-vous ?</h3>
                <form enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <input id="search" name="id" class="form-control" placeholder="Nom, Prénom ou code cantine" style="margin-bottom: 15px">
                        <i id="spinner" class="fa fa-2x fa-spinner fa-spin" style="float: right;margin: -45px 5px 0 0;display: none"></i>
                    </div>
                    <div id="form" style="display: none">
                        <div class="form-group">
                            {{ form_label(form.classe) }}
                            {{ form_widget(form.classe, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.subject) }}
                            {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.unit) }}
                            {{ form_widget(form.unit, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.date) }}
                            {{ form_widget(form.date) }}
                        </div>
                        <center><button id="send" class="btn btn-primary" style="margin-top: 15px">
                            <i class="glyphicon glyphicon-ok"></i> Demander un cours
                        </button></center>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}