{% extends '::base.html.twig' %}

{% block body %}
    <a class="btn btn-md btn-primary" href="{{ path('zephyr_cours_admin') }}" role="button"><i class="glyphicon glyphicon-arrow-left"></i> Retour</a></br></br></br>
    <div class="list-group">
        <div class="list-group-item">
            <h4>Cours n°{{ course.id }} :</h4> 
            <p>Matière : {{ course.subject }}<br>
            Unité : {{ course.unit }}<br>
            Date : Le {{ course.date|date("d/m/Y à h:i") }}<br>
            Professeur : {{ course.prof }}<br>
            Elèves : 
            {% for student in students %}
                {{student}} {{student.id}}
                {% if not loop.last %}
                    ,
                {% endif %}
            {% endfor %}
            <br>
            {% if course.valid == 1 %}
                Validé : Oui
            {% else %}
                Validé : Non
            {% endif %}
            </p>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <form enctype="multipart/form-data" method="post">
            <p id="name">"Un seul champ de recherche pour les gouverner tous." <i>- Solix</i>
            </p>
            <div class="form-group">
                <input id="search" name="id" class="form-control" placeholder="Nom, Prénom ou code cantine pour toute modification d'un étudiant en tant qu'élève" style="margin-bottom: 15px">
                <i id="spinner" class="fa fa-2x fa-spinner fa-spin" style="float: right;margin: -45px 5px 0 0;display: none"></i>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button name="submit" value="addprof" id="send" class="btn btn-primary form-control" style="margin-top: 15px;">
                            <i class="glyphicon glyphicon-education"></i> Ajouter un professeur
                        </button><br><br>
                        <button name="submit" value="addeleve" id="send" class="btn btn-primary form-control" style="margin-top: 15px;">
                            <i class="glyphicon glyphicon-plus"></i> Ajouter un élève
                        </button><br><br>
                        <button name="submit" value="validate" id="send" class="btn btn-success form-control" style="margin-top: 15px;">
                            <i class="glyphicon glyphicon-check"></i> Valider ce cours (verrouiller et archiver)
                        </button><br><br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <button name="submit" value="delprof" id="send" class="btn btn-danger form-control" style="margin-top: 15px;">
                            <i class="glyphicon glyphicon-remove"></i> Supprimer le prof
                        </button><br><br>
                        <button name="submit" value="deleleve" id="send" class="btn btn-danger form-control" style="margin-top: 15px;">
                            <i class="glyphicon glyphicon-minus"></i> Supprimer un élève
                        </button><br><br>
                        <button name="submit" value="suppr" id="send" class="btn btn-danger form-control" style="margin-top: 15px;">
                            <i class="glyphicon glyphicon-trash"></i> Supprimer le cours
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="list-group-item">
                        <textarea name="note"class="form-control" rows="5">{{ course.note }}</textarea>
                    </div>
                    <button name="submit" value="note" id="send" class="btn btn-success form-control" style="margin-top: 15px;">
                        <i class="glyphicon glyphicon-check"></i> Modifier la note
                    </button>
                    <br><br>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}